
* {
  box-sizing: border-box;
}

body {
font-family: 'Roboto Slab', sans-serif;
}

h1 {
  font-size: 40px;
  color: #00A79D;
  font-weight: 700;
  margin-top: 30px;
}

span {
  color: #6D6E71;
}

.title-input {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-color: #E5F3F2;

  margin: 0;
  
  width: 100%;
}


.title-input::placeholder,
.body-input::placeholder {
  color: #939598;
}

.title-input,
.body-input,
.save-button {
  width: 350px;
  height: 30px;
  margin-top: 20px;
}

.save-button {
  display: block;
  color: #fff;
  background-color: #00A79D;
  border: none;
}

.save-button:hover {
  background-color: #045055;
}

/*below here is styling for preppended html*/


.idea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  overflow-y: scroll;
  box-sizing: border-box;
}

.search-input {
  line-height: 30px;
  width: 350px;
  margin: 20px;
  font-size: 25px;
  font-weight: 200;
  color: #939598;
}

.idea-card {
  border-bottom: 2px solid #D1D3D4;
  margin-bottom: 15px;
  width: 350px;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.card {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6D6E71;
  overflow: hidden;
  border: none;
}

.idea-title {
  width: 310px;
  font-size: 16px;
  height: auto;
  display: inline-block;
}

.idea-body {
  margin-top: 10px;
  width: 350px;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
}

.button-div {
  height: 20px;
  width: 20px;
  /*border: 2px solid black;*/
  display: inline-block;
  margin-bottom: -5px;
}

.delete-button {
  margin-bottom: -5px;
  margin-left: 5px;
  background-image: url("images/delete.svg")
}

.delete-button:hover {
  background-image: url("images/delete-hover.svg");
}

.upvote-button {
  background-image: url("images/upvote.svg");
  margin-right: 10px;
}

.upvote-button:hover {
  background-image: url("images/upvote-hover.svg");
}

.downvote-button {
  margin-right: 10px;
  background-image: url("images/downvote.svg");
}

.downvote-button:hover {
  background-image: url("images/downvote-hover.svg");
}

.quality {
  display: inline-block;
  font-size: 12px;
  color: #6D6E71;
  margin-bottom: 20px;

}
